.top80{
    padding-top: 80px !important;
}

.custom_card_size{
    max-width: 60rem;
}

.align-container-center{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-top: 20px;
}