<footer class="footer">
    <div class="container text-center"><a id="fcb-footer-page" class="cc-facebook btn btn-link" href="https://www.facebook.com/joaolucas.gouveia.9" target="_blank"><i class="fab fa-facebook-f fa-2x" aria-hidden="true"></i></a><a id="lkd-footer-page" class="cc-linkedin btn btn-link " href="https://www.linkedin.com/in/joão-lucas-veloso-gouveia-1319a38a" target="_blank"><i class="fab fa-linkedin-in fa-2x " aria-hidden="true"></i></a><a id="gth-footer-page" class="cc-github btn btn-link" href="https://github.com/joaogouveia89" target="_blank"><i class="fab fa-github fa-2x" aria-hidden="true"></i></a><a class="cc-linkedin btn btn-link" href="skype:joao.automacaomg?chat" target="_blank"><i class="fab fa-skype fa-2x" aria-hidden="true"></i></a></div>
        <div class="h3 title text-center">João Gouveia</div>
            <div class="text-center text-muted">
                <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
            </div>
            <div class="text-center text-muted">
        <p><a class="credit" href="https://templateflip.com/templates/creative-cv/" target="_blank">Reference</a></p>
    </div>
</footer>