<div class="section" id="skill">
	<div class="container cc-experience text-center">
		<div class="h3 text-center mb-4 title"><%= t :skills_summary %></div>
			<% @stack_xp.each do |xp, months| %>
				<div class="card custom_card_size">
					<div class="row">
						<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
							<div class="card-body cc-experience-header">
								<div class="h5"><%= xp %></div>
							</div>
						</div>
						<div class="col-md-9 align-container-center" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
							<div class="h2"><%= period_to_s(months) %></div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>