<div class="section" id="skill">
	<div class="container">
		<div class="h4 text-center mb-4 title">Professional Skills</div>
		<div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="skill-container skill-primary container">
							<div class="row">
								<div class="col-6 text-center">
									<span class="skill-badge">Android</span>
								</div>
								<div class="col-6">
									<span class="skill-badge">3 years</span> 
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="skill-container skill-primary container">
							<div class="row">
								<div class="col-6 text-center">
									<span class="skill-badge">Android</span>
								</div>
								<div class="col-6">
									<span class="skill-badge">3 years</span> 
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="skill-container skill-primary container">
							<div class="row">
								<div class="col-6 text-center">
									<span class="skill-badge">Android</span>
								</div>
								<div class="col-6">
									<span class="skill-badge">3 years</span> 
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="skill-container skill-primary container">
							<div class="row">
								<div class="col-6 text-center">
									<span class="skill-badge">Android</span>
								</div>
								<div class="col-6">
									<span class="skill-badge">3 years</span> 
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="skill-container skill-primary container">
							<div class="row">
								<div class="col-6 text-center">
									<span class="skill-badge">Android</span>
								</div>
								<div class="col-6">
									<span class="skill-badge">3 years</span> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>