<div class="section" id="speak_languages">
	<div class="container">
		<div class="h4 text-center mb-4 title">Speak Languages</div>
		<div class="gallery mt-5">
			<div class="ml-auto mr-auto">
				<div class="row">
					<div class="col-md-6">
						<div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
							<figure class="cc-effect"><img src="<%= image_path 'brazil.jpg' %>" alt="Image" />
								<figcaption>
									<div class="h4">Portuguese</div>
									<p>First Language</p>
								</figcaption>
							</figure>
						</div>
					</div>
					<div class="col-md-6">
						<div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
							<figure class="cc-effect"><img src="<%= image_path 'usa.jpg' %>" alt="Image" />
								<figcaption>
									<div class="h4">English</div>
									<p>Fluent in Writing, Reading and Speaking</p>
								</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>